extends layout

block content

	div(data-objData=data)
	#createadPage
		h1 Info
		#createForm
			#form-group
			.row
				.col
					p= "From: " + data.from
				.col
					p= "To: " + data.to 
				.col
					p= "Available seats:" + data.available_seats 
				.col
					span Driver: #[a.mngOneAd(href='/users/profile/'+data.driver) #{data.driver}]
				.col
					p= "Departure: " + data.departure
				.col
					p= "Arriving: " + data.arrival
				.col
					if data.confirmed_riders
						span="Riders: "
						for rider in data.confirmed_riders
							a.mngOneAd(href='/users/profile/'+rider) #{rider}
							span=" "
					

