extends layout

block content
	
	div#dataObject(data-objData=data)
	input#dataobj(type='hidden', value=data)

	#ridePage
		h3 #{filter.fromfrom}, #{filter.from}  &#8594 #{filter.toto}, #{filter.to}

		form(method= 'GET', action='/rides/')

			#form-group

			input.form-control(name='from', type='hidden', value=filter.from, placeholder='From')

			#form-group

			input.form-control(name='to', type='hidden', value=filter.to, placeholder='To')

			input.form-control(name='from_lat', type='hidden', value=filter.from_lat)
			input.form-control(name='from_lng', type='hidden', value=filter.from_lng)
			input.form-control(name='fromfrom', type='hidden', value=filter.fromfrom)

			input.form-control(name='to_lat', type='hidden', value=filter.to_lat)
			input.form-control(name='to_lng', type='hidden', value=filter.to_lng)
			input.form-control(name='toto', type='hidden', value=filter.toto)

			#ridePageDate
				input.form-control(name='date', type='date', value=filter.date)

			input(type="radio" name="radius" value="0.1", hidden="hidden")


			#ridePageButton
				input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Search')
		br
		if data
			#createForm
				each ad, i in data
					#form-group
					#chooseRide

						div(id=i)="# " + i
						.row
							.col
								p= "From: " + ad.fromfrom + ", " + ad.from
							.col
								p= "To: " + ad.toto + ", " + ad.toto
							.col
								p="Available seats: " + ad.available_seats
							.col
								a.btn.btn-secondary.bt-lg.btn-block(href=
									"/rides/show-ads/"+ ad.id) Info
						.row
							.col
								p="Departure: " + ad.departure
							.col
								p="Arrival: " + ad.arrival
							.col
								p="Date: " + ad.date
							.col
								if ad.confirmed_riders.includes(username)
									input.btn.btn-secondary.bt-lg.btn-block(value='Joined' readonly)
								else if ad.interested_riders.includes(username)
									input.btn.btn-secondary.bt-lg.btn-block(value='Sent' readonly)
								else
									a.btn.btn-secondary.bt-lg.btn-block(href=
										"/rides/request-ride/" + ad.id + "/" + filter.from_lat + "/" + filter.from_lng + "/" + filter.to_lat + "/" + filter.to_lng) Request
	
	#rideridePage
		script(type='text/javascript', src='/javascripts/map.js')
		script(async, defer, type='text/javascript', src=`https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=showAllRoutes`)
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		div(id='map')
