extends layout

block content

	div(data-objData=data)
	#createadPage
		h1 Info
		#createForm
			#form-group
			.row
				.col
					p= "From: " + data.from
				.col
					p= "To: " + data.to 
				.col
					p= "Available seats:" + data.available_seats 
				.col
					p= "Driver: " + data.driver
					a(href='/users/profile/'+data.driver) #{data.driver}
				.col
					p= "Departure: " + data.departure
				.col
					p= "Arriving: " + data.arrival
				.col
					if data.confirmed_riders
						p="Riders: "+ data.confirmed_riders
						for rider in data.confirmed_riders
							a(href='/users/profile/'+rider) #{rider}
					

