extends layout

block content
	#ridePage

		div(data-objData=data)

		h1 #{filter.from} to #{filter.to}

		form(method= 'GET', action='/rides/')

			#form-group

			input.form-control(name='from', type='hidden', value=filter.from, placeholder='From')

			#form-group

			input.form-control(name='to', type='hidden', value=filter.to, placeholder='To')

			input.form-control(name='from_lat', type='hidden', value=filter.from_lat)
			input.form-control(name='from_lng', type='hidden', value=filter.from_lng)

			input.form-control(name='to_lat', type='hidden', value=filter.to_lat)
			input.form-control(name='to_lng', type='hidden', value=filter.to_lng)

			#ridePageDate
				input.form-control(name='date', type='date', value=filter.date)

			input(type="radio" name="radius" value="0.1", hidden="hidden")


			#ridePageButton
				input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Search')
		br
		if data
			#createForm
				each ad, i in data
					#form-group
					.row
						.col
							p= "From: " + ad.from
						.col
							p="To: " + ad.to
						.col
							p="Available seats: " + ad.available_seats
						.col
							a.btn.btn-secondary.bt-lg.btn-block(href=
								"/rides/show-ads/"+ ad.id) More info
					.row
						.col
							p="Departure: " + ad.departure
						.col
							p="Arrival: " + ad.arrival
						.col
							p="Date: " + ad.date
						.col
							a.btn.btn-secondary.bt-lg.btn-block(href=
								"/rides/request-ride/"+ ad.id + "/" + filter.from_lat + "/" + filter.from_lng + "/" + filter.to_lat + "/" + filter.to_lng) Request seat
