extends layout

block content
	#ridePage

		div(data-objData=data)

		h1 Search advertisements

		form(method= 'GET', action='/rides')

			#form-group

			input.form-control(name='from', type='text', value=filter.from, placeholder='From')

			#form-group

			input.form-control(name='to', type='text', value=filter.to, placeholder='To')
			#ridePageDate
				input.form-control(name='date', type='date', value=filter.date)

			#ridePageButton
				input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Search')
		br
		if data
			#createForm
				each ad, i in data
					#form-group
					.row
						.col
							p= "From: " + ad.from
						.col
							p="To: " + ad.to
						.col
							p="Available seats: " + ad.available_seats
						.col
							p="Driver: " + ad.driver
					.row
						.col
							p="Departure: " + ad.departure
						.col
							p="Arrival: " + ad.arrival
						.col
							p="Date: " + ad.date
						.col
							a.btn.btn-secondary.bt-lg.btn-block(href=
							"rides/hop-on-ride/"+ ad.id) Request seat
