extends layout

block content
    script(type='text/javascript', src='/javascripts/map.js')
    script(async, defer, type='text/javascript', src=`https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=initMap`)

    h1 test
    div(id='map')
    form(method='GET' action='/rides/show-ads')
      #form-group
          input#from-dest.form-control(type='text', placeholder='from', name='from-dest', onchange=`formToMap('from')`)

      #form-group
          input#to-dest.form-control(type='text', placeholder='to', name='to-dest', onchange=`formToMap('to')`)
      

      h3= monthName
      
      table(style='width:40%', border='0')
        tr
          th Mon
          th Tue
          th Wed
          th Thu
          th Fri
          th Sat
          th Sun

        -for(var week = 0; week < month.length; week++) {
        tr
          if week
            td(align='center')
              input(type="radio", name="date", value=month[week-1][6][0], id=month[week-1][6][0])
          else
            td(align='center')

          -for(var day = 0; day <= 5; day++) {
            if month[week][day][0]
              td(align='center')
                input(type="radio", name="date", value=month[week][day][0], id=month[week][day][0])
            else
              td(align='center')
          -}
        -}

      button.btn.btn-primary(type='submit') Submit
