extends layout

block content
  #indexPage
      script(type='text/javascript', src='/javascripts/map.js')
      script(async, defer, type='text/javascript', src=`https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=initMap`)
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      div(id='map')
      br
      #indexForm
        form(method='GET' action='/search')
            #form-group
                div(id="from-field")
                  .row.no-gutters
                    .col-11
                      input#from-dest.form-control.from-input(type='text', placeholder='From', name='from-dest', onchange=`formToMap('from')`)
                    .col-1
                      p.from-button(onclick="getUserLocation()") &#9673

                input#fromcoords(type='hidden', name='fromcoords')

                #form-shady
                input#to-dest.form-control(type='text', placeholder='To', name='to-dest', onchange=`formToMap('to')`)

                #form-group
                  input#tocoords(type='hidden', name='tocoords')

                #form-group
                  input#date.form-control(type='date', min=`${today}`, name='date')


            #indexButton
                input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Search')
      if data
         #createForm
           each ad, i in data
             #form-group
             .row
               .col
                 p= "From: " + ad.from
               .col
                 p="To: " + ad.to
               .col
                 p="Available seats: " + ad.available_seats
               .col
                 p="Driver: " + ad.driver
             .row
               .col
                 p="Departure: " + ad.departure
               .col
                 p="Arrival: " + ad.arrival
               .col
                 p="Date: " + ad.date
               .col
                 if username
                  a.btn.btn-secondary.bt-lg.btn-block(href=
                  "rides/hop-on-ride/"+ ad.id) Request seat
