extends layout

block content

	div(data-objData=data)
	
	if data.confirmed_riders
		h4="Confirmed Riders: "
		br
		each c_rider, p in data.confirmed_riders
			p=c_rider
			form(method= 'POST', action='/rides/disjoin-ride/'+data.id +'/'+c_rider)
				input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Remove from ride')
			br
	br
	if data.interested_riders
		h4="Interested Riders: "
		br
		each p_rider, i in data.interested_riders
			p=p_rider
			if data.available_seats != 0
				form(method= 'POST', action='/rides/join-ride/'+data.id +'/'+p_rider)
					input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Add to ride')
	br

	if data
		h3="Ad information"
		br
		form(method= 'GET', action='/rides/update-ride/'+data.id)
			#form-group
				label From:
				input.form-control(name='from', type='text', value=data.from)
			br
			#form-group
				label To:
				input.form-control(name='to', type='text', value=data.to)
			br
			#form-group
				label Date:
				input.form-control(name='date', type=date, value=data.date)
			br
			#form-group
				label Available seats:
				input.form-control(name='available_seats', type='number', value=data.available_seats)
			br
			#form-group
				label Departure:
				input.form-control(name='departure', type='time', value=data.departure)
			br
			#form-group
				label Arriving:
				input.form-control(name='arrival', type='time', value=data.arrival)
			br

			input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Update ride')
	br
	form(method= 'GET', action='/rides/destroy-the-ride/' + data.id)
		input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Remove ride')


