extends layout

block content
	#container

	div#dataObject(data-objData=data)
	input#dataobj(type='hidden', value=data)

	-var today = new Date()
	-var dd = String(today.getDate()).padStart(2, '0');
	-var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!

	-var yyyy = today.getFullYear();
	-today = yyyy + '-' + mm + '-' + dd;

	#testFirstPage
		if data
			#createForm2
				h3="Ad information"
				br
				form(method= 'GET', action='/rides/update-ride/'+data.id)
					#form-group
					.row
						.col
							label From:
							input.form-control(name='from', type='text', value=data.from, readonly)
						.col
							label To:
							input.form-control(name='to', type='text', value=data.to, readonly)
					.row
						.col
							label Date:
							input.form-control(name='date', type=date, value=data.date)
						.col
							label Available seats:
							input.form-control(name='available_seats', type=number, value=data.available_seats, readonly)

					.row
						.col
							label Departure:
							input.form-control(name='departure', type='time', value=data.departure)
						.col
							label Arriving:
							input.form-control(name='arrival', type='time', value=data.arrival)
					br
					.row
						input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Update ride')
				form(method= 'GET', action='/rides/delete-ride/' + data.id)
					#form-group
					.row
						input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Remove ride')

	if data.date < today
		#testSecondPage
			if data.confirmed_riders
				#createForm2
					h4="Confirmed Riders: "
					- for (let i=0; i < data.confirmed_riders.length; i++)
						- c_rider = data.confirmed_riders[i]
						- var rating = data.rate_riders[i]
						#form-group
						.row
							.col
								a.mngOneAd(href='/users/profile/' + c_rider + '/' + data.id + '/false') #{c_rider}
							.col
								p=Math.round(rating)
							.col
								if rating==-1
									div(class='row-'+i)
										form(method='POST', action='/rides/rate-rider/'+data.id+'/'+data.driver+'/'+c_rider, id='form_rate_id')
											input.form-control(name='starRating' hidden=true)

											h5.stars-rate(data-rating=Math.round(rating))
												span.star-rate &nbsp;
												span.star-rate &nbsp;
												span.star-rate &nbsp;
												span.star-rate &nbsp;
												span.star-rate &nbsp;
											script.
												document.addEventListener('DOMContentLoaded', function () {
													var doc = document.querySelectorAll('.row-'+i);
													var stars1 = doc.querySelectorAll('.star-rate');
													stars1.forEach(function (star1) {
														star1.addEventListener('click', setRating);
													});
													var rating1 = parseInt(doc.querySelector('.stars-rate').getAttribute('data-rating'));
													var target1 = stars1[rating1 - 1];
													target1.dispatchEvent(new MouseEvent('click'));
												});
												function setRating(ev) {
													var span1 = ev.currentTarget;
													var doc = document.querySelectorAll('.row-'+i);
													var stars1 = doc.querySelectorAll('.star-rate');
													var match1 = false;
													var num1 = 0;
													stars1.forEach(function (star1, index1) {
														if (match1) {
															star1.classList.remove('rated');
														} else {
															star1.classList.add('rated');
														}
														//are we currently looking at the span that was clicked
														if (star1 === span1) {
															match1 = true;
															num1 = index1 + 1;
														}
													});
													doc.querySelector('.stars-rate').setAttribute('data-rating', num1);
													doc.getElementById('form_rate_id').elements.namedItem('starRating').value = num1;
													doc.getElementById("form_rate_id").submit();// Form submission
												}
								else
									div(class='row_'+i)
										h5.stars(given-rating=Math.round(rating))
											span.star &nbsp;
											span.star &nbsp;
											span.star &nbsp;
											span.star &nbsp;
											span.star &nbsp;
										script.
											//initial setup
											document.addEventListener('DOMContentLoaded', function () {
												var doc = document.querySelectorAll('.row_'+i);
												var stars2 = doc.querySelectorAll('.star');
												stars2.forEach(function (star2) {
													star2.addEventListener('show', getRating);
												});
												var rating2 = parseInt(doc.querySelector('.stars').getAttribute('given-rating'));
												var target2 = stars2[rating2 - 1];
												target2.dispatchEvent(new MouseEvent('show'));
											});
											function getRating(ev) {
												// ev.preventDefault();
												var span2 = ev.currentTarget;
												var doc = document.querySelectorAll('.row_'+i);
												var stars2 = doc.querySelectorAll('.star');
												var match2 = false;
												var num2 = 0;
												stars2.forEach(function (star2, index2) {
													if (match2) {
														star2.classList.remove('rated');
													} else {
														star2.classList.add('rated');
													}
													if (star2 === span2) {
														match2 = true;
														num2 = index2 + 1;
													}
												});
												doc.querySelector('.stars').setAttribute('given-rating', num2);
											}
	else
		#testSecondPage
			if data.confirmed_riders
				#createForm2
					h4="Confirmed Riders: "
					each c_rider, p in data.confirmed_riders
						#form-group
						.row
							.col
								a.mngOneAd(href='/users/profile/' + c_rider + '/' + data.id + '/false') #{c_rider}
							.col
								form(method= 'POST', action='/rides/reject-rider/' + data.id + '/' + c_rider)
									input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Remove from ride')

		#testSecondPage
			if data.interested_riders
				#createForm2
					h4="Interested Riders: "
					each p_rider, i in data.interested_riders
						#form-group
							.row
								.col
									a.mngOneAd(href='/users/profile/' + p_rider + '/' + data.id + "/true") #{p_rider}
								.col
									if data.available_seats != 0
										form(method= 'POST', action='/rides/accept-rider/' + data.id + '/' + p_rider)
											input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Add to ride')
								.col
									form(method= 'POST', action='/rides/not-accept-rider/' + data.id + '/' + p_rider)
										input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Reject')


	script(type='text/javascript', src='/javascripts/map.js')
	script(async, defer, type='text/javascript', src=`https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=showRoute`)
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	div(id='map')
