extends layout

block content

	div(data-objData=data)

	h1=username + " confirmed rider"
	#updateConfirmedRider
		if data
			-var index=0
			each ad in data
				each rider in ad.confirmed_riders
					if rider == username
						-index = index+1
						p="hej"
						p= "Result " + index + ": " + "From: " + ad.from + ", To: " + ad.to + ", Date: " + ad.date + ", Departure: " + ad.departure + ", Arrival: " + ad.arrival
						a.btn.btn-secondary.bt-lg.btn-block(href="show-ads/" + ad.id) Change
						br

	h1=username + " interested rider"

	if data
		-var index=0
		each ad in data
			each rider in ad.interested_riders
				if rider == username
					-index = index+1
					p="hej"
					p= "Result " + index + ": " + "From: " + ad.from + ", To: " + ad.to + ", Date: " + ad.date + ", Departure: " + ad.departure + ", Arrival: " + ad.arrival
					a.btn.btn-secondary.bt-lg.btn-block(href="show-ads/" + ad.id) Change
					br