extends layout

block content
	div(data-objData=data)
	-var today = new Date()
	-var dd = String(today.getDate()).padStart(2, '0');
	-var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
	-var yyyy = today.getFullYear();
	-today = yyyy + '-' + mm + '-' + dd;
	
	#upcomingRides
		#createAdPage
			h1="Confirmed rides"
			#updateConfirmedRider
			#uupdateConfirmedRider
				if data
					#createForm
					-var index=0
						each ad in data
							each rider in ad.confirmed_riders
								#form-group
									if rider == username && ad.date >= today
										.row
											.col
												.row
													p= "From: " + ad.from
												.row
													p="To: " + ad.to
												.row
													p=" Date: " + ad.date
											.col
												.row
													p="Departure: " + ad.departure
												.row
													p="Arrival: " + ad.arrival
												.row
													p="Driver: " + ad.driver
											.col
												.row
													a.btn.btn-secondary.bt-lg.btn-block(href="show-ads/"+ad.id) Info
												br
												.row
													a.btn.btn-secondary.bt-lg.btn-block(href="derequest-ride/"+ad.id) Remove request


		#createAdPage
			h1="Pending rides"
			#uuupdateConfirmedRider
				if data
					#createForm
						-var index=0
						each ad in data
							each rider in ad.interested_riders
								#form-group

									if rider == username && ad.date >= today
										.row
											.col
												.row
													p= "From: " + ad.from
												.row
													p="To: " + ad.to
												.row
													p=" Date: " + ad.date
											.col
												.row
													p="Departure: " + ad.departure
												.row
													p="Arrival: " + ad.arrival
												.row
													p="Driver: " + ad.driver
											.col
												.row
													a.btn.btn-secondary.bt-lg.btn-block(href="show-ads/"+ad.id) Info
												br
												.row
													a.btn.btn-secondary.bt-lg.btn-block(href="derequest-ride/"+ad.id) Remove request

	#upcomingRides
		#createAdPage
			h1="Old rides"
			#uuupdateConfirmedRider
				if data
					#createForm
						-var index=0
						each ad in data
							each rider in ad.confirmed_riders
								#form-group
								if username==rider
									.row
										.col
											.row
												p= "From: " + ad.from
											.row
												p="To: " + ad.to
											.row
												p=" Date: " + ad.date
										.col
											.row
												p="Departure: " + ad.departure
											.row
												p="Arrival: " + ad.arrival
											.row
												p="Driver: " + ad.driver
										.col
											.row
												a.btn.btn-secondary.bt-lg.btn-block(href="show-ads/"+ad.id) Info
											br
											.row
												form(method='POST', action='/users/rate-rider/' + ad.id)
													input.form-control(name='driverUsername', hidden=true, value=ad.driver, type="text")
													input.form-control(name='riderUsername', hidden=true, value=rider, type="text")
													input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Rate '+ad.driver)
									br