extends layout

block content
	#container

	div#dataObject(data-objData=data)
	input#dataobj(type='hidden', value=data)

	-var today = new Date()
	-var dd = String(today.getDate()).padStart(2, '0');
	-var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!

	-var yyyy = today.getFullYear();
	-today = yyyy + '-' + mm + '-' + dd;

	#testFirstPage
		if data
			#createForm2
				h3="Ad information"
				br
				form(method= 'GET', action='/rides/update-ride/'+data.id)
					#form-group
					.row
						.col
							label From:
							input.form-control(name='from', type='text', value=data.from, readonly)
						.col
							label To:
							input.form-control(name='to', type='text', value=data.to, readonly)
					.row
						.col
							label Date:
							input.form-control(name='date', type=date, value=data.date)
						.col
							label Available seats:
							input.form-control(name='available_seats', type=number, value=data.available_seats, readonly)

					.row
						.col
							label Departure:
							input.form-control(name='departure', type='time', value=data.departure)
						.col
							label Arriving:
							input.form-control(name='arrival', type='time', value=data.arrival)
					br
					.row
						input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Update ride')
				form(method= 'GET', action='/rides/delete-ride/' + data.id)
					#form-group
					.row
						input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Remove ride')

	if data.date < today
		#testSecondPage
			if data.confirmed_riders
				#createForm2
					h4="Confirmed Riders: "
					- for (let i=0; i < data.confirmed_riders.length; i++)
						- c_rider = data.confirmed_riders[i]
						- rating = data.rate_riders[i]
						#form-group
						.row
							.col
								a.mngOneAd(href='/users/profile/' + c_rider + '/' + data.id + '/false') #{c_rider}
							.col
								if rating==-1
									form(method= 'POST', action='/rides/rate-rider/'+data.id+'/'+data.driver+'/'+c_rider+'/4')
										input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Rate rider')
								else
									h5.stars(data-rating=Math.round(rating))
										span.star &nbsp;
										span.star &nbsp;
										span.star &nbsp;
										span.star &nbsp;
										span.star &nbsp;
									script.
										//initial setup
										document.addEventListener('DOMContentLoaded', function () {
											let stars = document.querySelectorAll('.star');
											stars.forEach(function (star) {
												star.addEventListener('show', getRating);
											});
											let rating = parseInt(document.querySelector('.stars').getAttribute('data-rating'));
											let target = stars[rating - 1];
											target.dispatchEvent(new MouseEvent('show'));
										});
										function getRating(ev) {
											let span = ev.currentTarget;
											let stars = document.querySelectorAll('.star');
											let match = false;
											let num = 0;
											stars.forEach(function (star, index) {
												if (match) {
													star.classList.remove('rated');
												} else {
													star.classList.add('rated');
												}
												if (star === span) {
													match = true;
													num = index + 1;
												}
											});
											document.querySelector('.stars').setAttribute('data-rating', num);
										}
	else
		#testSecondPage
			if data.confirmed_riders
				#createForm2
					h4="Confirmed Riders: "
					each c_rider, p in data.confirmed_riders
						#form-group
						.row
							.col
								a.mngOneAd(href='/users/profile/' + c_rider + '/' + data.id + '/false') #{c_rider}
							.col
								form(method= 'POST', action='/rides/reject-rider/' + data.id + '/' + c_rider)
									input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Remove from ride')

		#testSecondPage
			if data.interested_riders
				#createForm2
					h4="Interested Riders: "
					each p_rider, i in data.interested_riders
						#form-group
							.row
								.col
									a.mngOneAd(href='/users/profile/' + p_rider + '/' + data.id + "/true") #{p_rider}
								.col
									if data.available_seats != 0
										form(method= 'POST', action='/rides/accept-rider/' + data.id + '/' + p_rider)
											input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Add to ride')
								.col
									form(method= 'POST', action='/rides/not-accept-rider/' + data.id + '/' + p_rider)
										input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Reject')


	script(type='text/javascript', src='/javascripts/map.js')
	script(async, defer, type='text/javascript', src=`https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=showRoute`)
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	div(id='map')
