extends layout

block content

	div(data-objData=data)
	h1=username + " advertisements"

	if data
		each ad in data
			-var index=0
			if ad.driver == username
				-index = index+1
				p= "Result " + index + ": " + "From: " + ad.from + ", To: " + ad.to + ", Points:" + ad.points
				a.btn.btn-secondary.bt-lg.btn-block(href=username +'/' + ad.id) Edit
				a.btn.btn-secondary.bt-lg.btn-block(href='/rides/destroy-the-ride/' + ad.id) Remove
				br

	h1=username + " passenger"

	if data
		each ad in data
			-var index=0
			if ad.driver != username
				-index = index+1
				p= "Result " + index + ": " + "From: " + ad.from + ", To: " + ad.to + ", Points:" + ad.points
				a.btn.btn-secondary.bt-lg.btn-block(href=username +'/' + ad.id) Edit
				a.btn.btn-secondary.bt-lg.btn-block(href='/rides/destroy-the-ride/' + ad.id) Remove
				br