extends layout

block content
    .main.container.clearfix
        h2 Messages
        table.table-bordered.table
            tbody
                each chat in results
                    each participant in chat.participants
                        if participant != username
                            .msgContainer
                                a(href='/messages/' + username + '/' + participant)
                                    div
                                        img(src='/images/blank-profile-picture.png', alt='Avatar')
                                        p
                                            b #{participant}
                                        p #{chat.messages[chat.messages.length - 1]}
                                        - var lastMsgDate = chat.lastMsgDate
                                        - var nowDate = new Date()
                                        - var monthsInString = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                                        - var daysInString = ['Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun']
                                        if lastMsgDate.getFullYear() < nowDate.getFullYear()
                                            - var dateWithYear = lastMsgDate.getDate() + "/" + lastMsgDate.getMonth() + "/" + lastMsgDate.getFullYear()
                                            span.time-right #{dateWithYear}
                                        else
                                            - var difference = nowDate - lastMsgDate;
                                            - const TOTAL_MILLISECONDS_IN_A_WEEK = 1000 * 60 * 24 * 7;
                                            if (Math.floor(difference / TOTAL_MILLISECONDS_IN_A_WEEK) >= 7)
                                                - var dateThisYear = lastMsgDate.getDate() + " " + monthsInString[lastMsgDate.getMonth()]
                                                span.time-right #{dateThisWeek}
                                            else
                                                - var dateThisWeek = daysInString[lastMsgDate.getDay()]
                                                span.time-right #{dateThisWeek}


