extends layout

block content
    .main.container.clearfix
        h2 #{driver}
        form(method= 'POST', action='/messages/', id='sendMsg')
            table.table-bordered.table
                tbody
                    .row
                        .col-10
                            textarea(name='message', rows=4, cols=60, onfocus="this.value=''", placeholder="Type a message...")
                            input.form-control(name='sender', type='text', value=owner, hidden=true)
                            input.form-control(name='receiver', value=driver, hidden=true)
                        .col-2
                            input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Send')
