extends layout

block content
    //html
        //head
            //style
                //include ./../css/avatar-style.css
            //script(src="./../js/LetterAvatar.js")
            //script(src="md5.js")
            //script(src="avatar.js")
    //body
        //include ./../js/LetterAvatar.js
    //form(method='GET' action='/users/profile')
    .main.container.clearfix
        .row
            .col-md-16
                h2.welcome Welcome to your profile page, #{firstname}!
        .offset-sm-0.col-sm-12
            .jumbotron.text-lg-left
                img(src='/images/blank-profile-picture.png' width="80" height="80")
                //img(class="round" src='/images/blank-profile-picture.png' width="80" height="80" avatar="Ev Sp")
                //img.avatar.img-circle.hidden-xs-down(src='/blank-profile-picture.png', alt='avatar')
                //canvas(id="user-icon" width="256" height="256")
                h4.first-name First name: #{firstname}
                h4.last-name First name:  #{lastname}
                h4.username Username:     #{username}
                h4.email Email:           #{email}
                //h4.password Password:
                //#form-group
                //    label.h4.password Password:
                //    input.form-control(name='password', type='password', value='#{profile.password}')


